<h1>Awards By Creator</h1>

<table class="dataTable">
		<th>First Name</th>
		<th>Last Name</th>
		<th>Awards Created</th>
  {{#each results}}
  	<tr>
  		<td>{{this.fname}}</td>
  		<td>{{this.lname}}</td>
  		<td>{{this.awards_created}}</td>
	</tr>

  {{/each}}
  </table>
<button onclick="exportTableToCSV('userAwards.csv')">Export To CSV File</button>
<script src="script.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
	//var chartdata = new google.visualization.arrayToDataTable(data);

    function drawChart() {

	    var arrayData=[];
	 	var Header= ["Name", "NumberOfAwards"];
	 	arrayData.push(Header);
	    {{#each results}}
	    	var temp = [];
	    	temp.push("{{this.fname}}"+ " " +"{{this.lname}}");
	    	temp.push(parseFloat("{{this.awards_created}}"));
	    	arrayData.push(temp);
	    {{/each}}
	    var data = google.visualization.arrayToDataTable(arrayData);

      	var view = new google.visualization.DataView(data);

      	var options = {
	        title: "Awards By User",
	        width: 800,
	        height: 600,
	        bar: {groupWidth: "95%"},
	        legend: { position: "none" },
	     };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
  }
  </script>
<div id="barchart_values" style="width: 900px; height: 300px;"></div>